<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781415650289-e4jpv2frj2v85b6s4imefkjpvhgg943m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781415650289-e4jpv2frj2v85b6s4imefkjpvhgg943m</string>
	<key>API_KEY</key>
	<string>AIzaSyAPrWAS4BnmqXw2yxOhabsc4yhb0U4InoE</string>
	<key>GCM_SENDER_ID</key>
	<string>781415650289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.delehaye.FeedMe</string>
	<key>PROJECT_ID</key>
	<string>feedme-75487</string>
	<key>STORAGE_BUCKET</key>
	<string>feedme-75487.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781415650289:ios:cfd7458fef865982d12a50</string>
</dict>
</plist>